In [1]:
import math as m

In [2]:
m.sqrt(10)

3.1622776601683795

In [3]:
import numpy as np                 #importing the numpy library

In [4]:
a = [1,2,"shs"]                    #A python List
b = np.array(a)                    #Forming a numpy ndarray from a python list
b                                  #printing the ndarray

array(['1', '2', 'shs'], dtype='<U11')

In [25]:
a = [1,2,'23']
b = np.array(a, dtype='int32')                      #Here we have specified the datatype of the ndarray
c = np.zeros(10)                                    #An ndarray composed of a ten zeros i.e - {0, 0, 0, 0...0}
d = np.ones(3)                                      #An ndarray composed of three ones i.e - {1, 1, 1}
e = np.arange(1, 4, 1)                              #An ndarray formed by arrangement of numbers where start = 1, end = 4 *NOTE - 4 is not included and size of array is 3* 
b, c.dtype, d, e

(array([ 1,  2, 23]), dtype('float64'), array([1., 1., 1.]), array([1, 2, 3]))

In the following cell, we've used math library predefined functions - sum, mean on our ndarray b defined above -

In [26]:
b.sum(), b.mean(), b.shape

(26, 8.666666666666666, (3,))

In [27]:
b.size               #size of ndarray

3

In Python, for taking exponents of a value we use the operator ** , eg - 2 ** 10 = 1024

We can call ndarrays as Vectors as well. Now in the following cell - the expression b ** 2 results in the squaring of each element of the ndarray.

In [28]:
b  ** 2

array([  1,   4, 529], dtype=int32)

In [29]:
b +  e

array([ 2,  4, 26])

In [39]:
a1d = np.array([1,2,3,4,5,6])
a2d = a1d.reshape((2,3))
print(a1d)
print(a2d)
print("Sum of rows:",a2d.sum(axis=1))
print("Sum of columns:",a2d.sum(axis = 0))
print("Sum of all elements:",a2d.sum())

[1 2 3 4 5 6]
[[1 2 3]
 [4 5 6]]
Sum of rows: [ 6 15]
Sum of columns: [5 7 9]
Sum of all elements: 21

In [17]:
np.zeros((4, 5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [54]:
a = np.arange(1, 40, 2)
a = a.reshape((4, 5))
print(a)
print(a[1][2], "\n")
print(a[3], "\n")
print(a[2:4], "\n")
print(a[1, 2 : 4])

[[ 1  3  5  7  9]
 [11 13 15 17 19]
 [21 23 25 27 29]
 [31 33 35 37 39]]
15

[31 33 35 37 39]

[[21 23 25 27 29]
 [31 33 35 37 39]]

[15 17]

In [55]:
a = np.array([1,2,3])
b = np.array([4,5,6])
print(((a - b) ** 2))
print(((a - b) ** 2).sum())
print(((a - a.mean()) ** 2).mean())

[9 9 9]
27
0.6666666666666666

In [58]:
a2d.mean(axis = 1)

array([2., 5.])